.lwyp-rankings
{
    background-color: var(--primary-background);
    padding: 20px 0 20px 0;
    color: #ffffff;
    width: 100%;
}
.lwyp-rankings-header
{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    padding: 10px 0 20px 0;
}
.lwyp-rankings_margin
{
    width: 1200px;
    margin: auto;
}
.lwyp-player-rankings
{
    padding: 10px;
}
.lwyp-player-ranking
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}
.lwyp-player-ranking .table-header
{
    
    border: 1px solid var(--primary-background);
    color: var(--secondary-background);
    padding: 2px 0 2px 10px;
    font-weight: 650;
}
.lwyp-player-ranking .lwyp-player-top-ranking, .lwyp-player-name-ranking
{
    font-weight: 650;
}

@media (max-width: 500px){
.lwyp-rankings
{
    width: 500px;
}
.lwyp-rankings_margin
{
    width: 400px;
    margin: 0 50px 0 50px;
}
}